
<ng-container *ngIf="!userLoggedIn">
  <app-login (userLoggedIn)="receiveMessage($event)"></app-login>
</ng-container>

<ng-container *ngIf="userLoggedIn">
  <webcam 
  [trigger]="triggerObservable" 
  (imageCapture)="handleImage($event)"
  [height]="150" 
  [width]="200" ></webcam>
  <div>
    <!-- <button class="btn btn-success" (click)="handleImage()">Capture Image</button>-->
  <button class="btn btn-success" (click)="triggerSnapshot();">Roll!</button>
  </div>
<div>
  <span *ngFor="let dice of dices">
    <img [src]="'assets/dice-' + dice + '-svgrepo-com.svg'" alt="Dice Image" width="50px" height="50px">
  </span>
</div>

<div style="position: fixed; bottom: 0; right: 0;">
  <app-logout (userLoggedIn)="receiveMessage($event)"></app-logout>
</div>
</ng-container>
